<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  
	<!-- Define your beans here -->
	<bean id="myFortune" 
		class="com.inversion.of.control.HappyFortuneService"
	></bean>
	
	<bean id="theCoach" 
		class="com.inversion.of.control.BaseballCoach">
		<!-- set up construction injection -->
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>
	
	<bean id="baseBallCoach"
		class="com.inversion.of.control.TrackCoach">
		<!-- set up setter injection -->
		<property name="fortuneService" ref="myFortune"/>
	</bean>
	
	<bean id="cricketCoach"
		class="com.inversion.of.control.CricketCoach">
		<!-- set up setter injection -->
		<property name="fortuneService" ref="myFortune"/>
		<property name="emailAddress" value="thebestcoach@m.com"/>
		<property name="team" value="sunrisers hyd"/>	
	</bean>
</beans>